@media (max-width: 375px) {
    .main-box {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

html, body {
    min-height: 100vh;
    margin:0;
    padding:0;
}

body {
    background: linear-gradient(#af68ea, #6663e8);
}

.main-box {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:200px 300px;
    border-radius: 15px;
    overflow: hidden;
}

.right-side {
    padding:50px 100px;
}

.main-title {
    padding-bottom: 20px;
}

.faq {
    max-width: 500px;
    cursor: pointer;
}

.question p:hover {
    color: #f47b55;
}

.question {
    font-size: 1rem;
    font-weight: normal;
    color: hsl(240, 6%, 50%);
}

.answer p {
    color: hsl(240, 6%, 50%);
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.1s ease;
}

.faq.active .answer {
    max-height: 200px;
}

.faq.active .arrow {
    transform: rotate(180deg);
}

.faq.active .question {
    font-weight: bold;
    color: black;
    transition: font-weight 1.1s ease-out;
}